body{
    color: #000000;
}

#center{
    width: 90%;
    margin: auto;
    margin-top: 2em;
    margin-bottom: 2em;
    overflow: hidden;
}

#footer{
    margin-top: 6em;
}

.btn {
    white-space: normal;
}

.search {
    margin-bottom: 2em;
    border-width: 2px;
    border-style: inset;
    height: 2.5em;
    width: 75%;
    margin-left: 5%;
}
@media only screen and (max-width: 1024px) {
    .search {
        width: 60%;
    }
}

.searchbutton{
    height: 2.5em;
    width: 6.5%;
    margin-left: 1%;
}
@media only screen and (max-width: 1024px) {
    .searchbutton {
        width: 15%;
        margin-left: 1.5%;
    }
}

.soundButton{
    line-height: 0.8;
}

.soundCategory{
    font-family: 'Spectral', serif;
    margin-top: 0.5em;
}

.soundName{
    font-size: 1em;
}

.soundDescription{
    font-size: 0.5em;
}

/* Show six buttons per row */
.soundButton{
    width: 14.33%;
    min-height: 5em;
    margin-left: 2%;
    margin-top: 0.5em;
}
/* Show only four buttons per row */
@media only screen and (max-width: 1440px) {
    .soundButton{
        width: 21.25%;
        margin-left: 3%;
    }
}
/* Show only two buttons per row */
@media only screen and (max-width: 1024px) {
    .soundButton{
        width: 44%;
        margin-left: 4%;
    }
}
/* Show only one buttons per row */
@media only screen and (max-width: 480px) {
    .soundButton{
        margin-left: 5%;
        width: 90%;
    }
}